.background {
    background-color: black;
}



.log {
    color: white;
    text-align: right;
}



.BandName {
   font-family: 'Cardo', serif;
    color: white;
    text-align: center;
    font-size: 35px;
    letter-spacing: 1.5px;
}

header {

  transition: font-size 2s ease-out 100ms;
}

nav:hover {
  background: var(--black);
  color: var(--red);
  letter-spacing:.1rem;
  font-size: 2px;

}

.nav{
  border:1px solid rgb(163, 163, 163);
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:5;
  text-align:center;
  font-size: 25px;
  font-family: 'Cardo', serif;
  font-style: italic;
  text-decoration: none;
  
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:25px;
}


p {
    color: white;
}

h2.title {
    color: white;
    text-align: center;
}

h2{
  font-family: 'Cardo', serif;
  font-style: italic;

}

/* Album Cover -----------------------------------------*/

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /*wrap flex items to a new row if not enough space */

}

.flex-item {
  text-align: center;
  padding: 4%;
  flex-grow: 2;
  flex-basis: 25%;


  display: flex;
  flex-direction: column;
 

  /* border: 1px solid #D3D3D3; */

}

.flex-img img {
  max-width: 100%;
}

.flex-info {
  margin-top: auto;
}

@media (max-width: 920px) {
  .flex-item {
    flex: 1 21%;
  }

  @media (max-width: 576px) {
    .flex-item {
      padding: 2%;
      flex-grow: 1;
      flex-basis: 65%;
      flex-grow: inherit;
      
    }

  
  }

  img {
    width: 200px;
  }
}
/* ----------------------------------------------- */

/* Font */

.flex-info {
  color: white;
  font-family: 'Cardo', serif;
  font-style: italic;
}

footer {
  font-family: 'Cardo', serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);

}

/* Contact Us Page */

.form {
  align-items: center;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #000000;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}